// * {
// 	outline: 1px solid red;
// }

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

li,
li a {
	text-decoration: none;
	list-style: none;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

// Wrapper
.wrapper {
	max-width: 1440px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	&__inner {
		width: 100%;
		max-width: 1300px;
		height: 100%;
		max-height: 810px;

		background-image: url('/src/images/pattern-background-desktop.svg');
		background-position: top;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: hsl(225, 100%, 94%);

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}


// Card
.card {
	width: 410px;
	height: 630px;

	&__header {
		width: 100%;
		height: 200px;

		border-top-left-radius: 30px;
		border-top-right-radius: 30px;

		background-image: url('/src/images/illustration-hero.svg');
		background-position: top;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__body {
		width: 100%;
		height: 430px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;

		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;

		padding: 0 40px 40px 40px;

		background-color: hsl(0, 0%, 100%);
	}

	&__summary,
	&__price-plan,
	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__summary {
		width: 100%;

		// background-color: lightcoral;
	}

	&__price-plan {
		width: 100%;

		background-color: hsl(230, 75%, 98%);
		padding: 15px;
		border-radius: 8px;

		flex-direction: row;
		justify-content: space-around;

		& .test {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}

	&__cta {
		width: 100%;
		height: 80px;
		// background-color: lightblue;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;

		&--proceed {
			width: 100%;
			height: 40px;
			border-radius: 8px;

			background-color: #382ae1;
			color: white;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}









// .card {


// 	&__header {


// 	.card__summary {
// 		width: 100%;
// 		height: 165px;

// 		background-color: red;
// 	}

// 	.card__plan {
// 		width: 100%;
// 		height: 265px;
// 		background-color: orange;

// 		&--container {
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;

// 			& div {
// 				display: flex;
// 				justify-content: center;
// 				align-items: center;
// 			}
// 		}
// 	}

// 	&__summary,
// 	&__plan {
// 		display: flex;
// 		justify-content: flex-start;
// 		align-items: center;
// 		flex-direction: column;
// 	}

// 	&__cta {

// 		&--proceed {
// 			width: 320px;
// 			height: 40px;
// 			border-radius: 8px;


// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 		}
// 	}
// }








// Attribution
.attribution {
	padding: 10px 0;
}